@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    
    font-family: 'Comfortaa';
}
.headermain {
    position: absolute;
    top: 0%;
    left: -100%;
    width: 270px;
    height: 60px;
    background-color: #063f51;
    display: none;
    align-items: center;
    justify-content: center;
}

.headermain.show {
    left: 0%;
    display: inline;
}

.headermain nav {
    display: flex;
}

.headermain nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.headermain nav ul li {
    list-style: none;
    color: #666;
}

.headermain nav ul li a {
    border-bottom: #eeeeee solid 1px;
    box-shadow: 0 13px 15px rgba(0, 0, 0, .1);
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: inherit;
    text-align: start;
        padding: 12px;
        width: 240px;
    background-color: white;
}

.headermain nav ul li a:hover {
    background-color: white;
    color: black;
}

#toggleButton {
    margin-top: 20px;
}
.fa-bars {
color: white;
}
.icon {
    color: white;
    padding-left: 1px;
    font-size: 25px;
}


@media (max-width: 1186px) { 

    .headermian nav  {
        justify-content: flex-end;
        align-items: center;


}


}

@media (max-width: 1326px) {
    
   
    main .cards .carditem  img{
        width: 100%;

    }
  .fevrticon .icon {
    padding-left: 42px;
    font-size: 18px;
  }
    
}

@media (min-width: 1090px) {
    .card a {

        font-size: 18px;
    
    }
  
.fa-bars , .respons {
    position: absolute;
    display: none;
    visibility: hidden;
    color: white;
}
}
.headsection {
    position: sticky;


}

.header-top .header-top-right .header-contact-container .store-location,
.call-center h4 {
    font-size: 15px;
    font-family: inherit;
}

.header-top {
    width: 100%;
    display: flex;
}

.header-top i {
    padding-right: 7px;
    font-size: 22px;
}

.header-top .header-top-left {
    width: 50%;
    background-color: #ff5874;
}

.header-top .header-top-left h4 {
    color: #fff;
    padding: 8px 0px 8px 58px;
    font-weight: lighter;
    font-size: 15px;
}

.header-top .header-top-right {
    width: 50%;
    display: flex;
    background-color: white;
}

.header-top .header-top-right .header-contact-container {

    display: flex;
    width: 100%;
}

.header-top .header-top-right .header-contact-container .store-location,
.call-center {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

    color: #1f3767;
    font-weight: 100;
}

.header-top  .header-top-right , .header-contact-container , .store-location h4,
.call-center h4 {

    font-size: 15px;
    font-weight: lighter;
}

.header-search {
    background-color: #063f51;

    display: flex;
    padding: 24px 61px 24px 51px;

}

.header-search .logo img {
    width: 170px;

}

.box-search {
    display: flex;
    align-items: center;
    margin-left: 115px;

}

.box-search #searchbox {
    width: 500px;
    height: 42px;
    outline: none;
    font-size: 12px;

    font-family: inherit;
    padding-left: 35px;
    color: #666;
}

.box-search #search-icon {
    background: url(assets/img/search.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0c0c0c;
    background-position: center;
    position: relative;
    left: -45px;
    font-size: 22px;

}

#search-icon::before {
    content: "0000";
    visibility: hidden;
}

.fevrticon {
    display: flex;
    align-items: center;


}

.icon {
    color: white;
    padding-left: 97px;
    font-size: 25px;
}

.icon a {
    margin: 6px;
}

.headermian {
    background-color: white;

    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.headermian nav {
    display: flex;
    height: 50px;
}

.headermian nav ul {
    display: flex;
    align-items: center;
    margin-left: -6%;
}

.headermian nav ul li {
    list-style: none;
    color: #666;
}

.headermian nav ul li a {
    text-decoration: none;
    font-size: 12px;
    color: inherit;
    padding: 12px;
}

.headermian nav ul li a:hover {
    background-color: #063f51;
    color: white;
}

footer {

    width: 100%;
    height: 100%;
    background-color: #eeeeee;

}

.allblocks {
    display: flex;

}

.firstblock .list {
    padding-left: 76px;
    padding-top: 76px;
}

.firstblock .list h4 {
    color: #444449;
    margin-bottom: 15px;
}

.firstblock .list li {
    margin-top: 13px;

    list-style: none;
}

.firstblock .list li a {
    text-decoration: none;
    color: #a18897;
    font-family: 'Comfortaa';
    font-size: 13px;


}

.secendblock {
    margin-left: 50px;
}

.secendblock .list2 {
    padding-left: 76px;
    padding-top: 76px;
}

.secendblock .list2 h4 {
    color: #444449;
    margin-bottom: 15px;
}

.secendblock .list2 li {
    margin-top: 13px;

    list-style: none;
}

.secendblock .list2 li a {
    text-decoration: none;
    color: #a18897;
    font-family: 'Comfortaa';
    font-size: 13px;


}

.thrdblock {
    margin-left: 50px;
}

.thrdblock .list3 {
    padding-left: 76px;
    padding-top: 76px;
}

.thrdblock .list3 h4 {
    color: #444449;
    margin-bottom: 15px;
}

.thrdblock .list3 li {
    margin-top: 13px;

    list-style: none;
}

.thrdblock .list3 li a {
    text-decoration: none;
    color: #a18897;
    font-family: 'Comfortaa';
    font-size: 13px;


}

.frthblock {
    padding-bottom: 70px;
    margin-left: 50px;
}

.frthblock .soical h4 {
    color: #444449;
    margin-bottom: 15px;
}

.frthblock .soical {
    padding-left: 76px;
    padding-top: 76px;

}

.frthblock .soical li {
    list-style: none;
    float: left;
}

.frthblock .soical li .fa {

    padding: 10px;

    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.frthblock .soical li .fa:hover {
    opacity: 0.7;
}

.frthblock .soical li .fa-facebook,
.fa-pinterest,
.fa-instagram {
    background: #063f51;
    color: white;
}

.frthblock .soical li .fa-facebook:hover,
.fa-pinterest:hover,
.fa-instagram:hover {
    background: white;
    color: #063f51;
    transition: 2s;

}

.frthblock .secre {
    padding-top: 100px;
    padding-left: 80px;
}

.frthblock .logofot {

    padding-top: 20px;
    padding-left: 80px;
}

.footerbotom {
    display: flex;

    padding-bottom: 15px;
    padding-top: 30px;
    padding-left: 75px;

    border-top: 1px solid #e2e2e2;
    background-color: #eeeeee;

}

.footerbotom p {
    font-size: 13px;
    color: #a18897;
}

.allblocks ul li .fa {
    margin-right: 6px;
    font-size: 12px;


}

.secendblock .list2 li span:hover,
.thrdblock .list3 li span:hover,
.firstblock .list li a span:hover {
    color: #063f51;


}

main .cards {
    height: 100%;
    width: 100%;

}

main .cards .carditem {
    margin: 80px 60px 90px 40px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    -ms-grid-colums-align: center;

}

 .card a    {
    background-color: white;
    font-weight: bold;

    box-sizing: border-box;
    color: #444444;
    text-decoration: none;
    font-family: 'Comfortaa';
    display: inline-block;
    padding: 7% 7%;
    position: relative;
    top: -11%;
    left: 8%;/*
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    box-sizing: border-box;
    color: #444444;
    text-decoration: none;
    font-family: 'Comfortaa';
    display: inline-block;
    padding : 50px 40px 30px 40px ; 
position: relative;
top: -72px;
left: 10%; */
}

main .banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .cards1 {
    margin-bottom: 40px;
    margin-top: 30px;
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
}
main .cards1 .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 34px 0px 34px 0px;
    font-size: 25px;
    box-shadow: 0 1.5px 2.5px rgba(0,0,0,.1);
    
}
main .cards1 .carditem1 {

    position: relative;
    right: 50px;
           padding-bottom: 40px;
      padding-top: 19px;
    display: grid;
    grid-template-columns: auto  auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-left: 100px;
 
}

main .cards1 .carditem1 .card1 img  {
    max-width:  250px;
    height: 200px;
}

main .cards1 .carditem1 .card1 {
    display: flex;
    flex-direction: row;
}

main .cards1 .carditem1 .card1 .span {
    margin-top: 20px;
    margin-left: 10px;

    display: flex;
    flex-direction: column;

}

main .cards1 .carditem1 .card1 a {
    display: inline-flex;
    justify-content: center;
    margin-top: 100px;
    text-decoration: none;
    color: #336271;
    font-size: 15px;
    padding: 12px  0px 12px 0px ;
    background-color: white;


}
main .botombaner
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.botombaner img {
    max-width: 430px;
}
main .bluhead 
{
    margin-top: 200px;
    background-image: url(/assets/img/furniture_pattern.png);
     background-color: #053848;
    height: 220px;
    width: 100%;
}
main .bluhead .word{
   padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
main .bluhead p {
    margin-bottom: 20PX;
    font-size: 23px;
    color: white;

}
.subcribe {
    
display: flex;
align-items: center;
justify-content: center;

}
main .bluhead button  {
    background-color:  #053848;
display: flex;
align-items: center;
justify-content: center;
height: 50px;
width: 340px;
border: solid white 4px;

}

main .bluhead button a {
   color: white;
    font-size: 17px;
    text-decoration: none;
}
.cards5 {
    height: 100%;
    width: 100%;
display: flex;
justify-content: center;
align-items: center;

}

 
 .cards5 .carditem5{

    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    grid-row-gap:30px;

}
.card5  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card5 .part51 {
    padding-top: 14px;
    margin-bottom: 14px;
    color: black;
}
.card5 .part53 {
    margin-top: 13px;    
}
.card5 .part53  a{
margin-top: 13px;
    color: darkblue;
    text-decoration: none;
 font-size: 16px;
}
@media (max-width: 1090px) {
    
    

    .respons li {
        text-align: center;
        list-style: none;
        padding: 2px;
    }
    .respons li a{
font-size: 12px;
color:#666;
    }
    .frthblock {
        padding-bottom: 2px;
        margin-left: -50px;
    }
    .ac {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
     #notok {
        display: flex;
        justify-content: flex-end;
font-size: 25px;
width:15%;
    }
    #ok { display: flex;
        
        justify-content: flex-start;
        font-size: 25px;
        width: 15%;

    }
    .respons {
        
        width: 100%;
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
  
    .respons a {
        text-align: center;
        width: 50%;
        text-decoration: none;
        font-size: 15px;
        margin-bottom: 24px;
        font-weight: bolder;
color: #0c0c0c;
    }
    .list , .list2  , .list3 {
        display: none;
        visibility: hidden;
        position: absolute;
    }
    .allblocks {
        display: flex;
        flex-direction: column;
 align-items: center;   
 
    }
    
    
.header-top  .header-top-right , .header-contact-container , .store-location h4,
.call-center h4 {

    font-size: 12px;
    font-weight: lighter;
}

    

.header-search {
    background-color: #063f51;
padding: 10px  35px;
    display: flex;

}

.header-search .logo{
    width: 50%;
    justify-content: flex-start;
padding-left: 5px;
}

.header-search .logo img {
    width: 170px;

}

.fevrticon {
    justify-content: flex-end;
    width: 50%;
}

.icon {
    color: white;
        font-size: 25px;
}

.icon a {
    margin: 6px;
}

    /* .header-search .logo{
    margin-right: 30%;
    }  */
    .fa-heart {
        display: none;
        visibility: hidden;
        position: absolute;
    }

    .box-search {
        position: absolute;
        top: 100%;
        left: -12%;
    }
    
    .box-search #searchbox {
        width:  86vw;
        height: 42px;
        
        outline: none;
        font-size: 12px;

        font-family: inherit;
        color: #666;
    }
    
    .box-search #search-icon {
        background: url(assets/img/search.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #0c0c0c;
        background-position: center;
        position: relative;
        left: -45px;
        font-size: 22px;
    
    }
    

    
    .headermian {
        position: absolute;
        top: 0%;
        left: -100%;
        width: 300px;
        height: 60px;
        background-color:#063f51;
    
          display: inline;
         align-items: center;
        justify-content: center;  
    
    }
    
    .headermian nav {
        display: flex;
    }
    
    .headermian nav ul {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
    
    .headermian nav ul li {
        list-style: none;
        color: #666;
    }
    
    .headermian nav ul li a {
        
        border-bottom: #eeeeee solid 1px ;
        box-shadow: 0 13px 15px rgba(0, 0, 0, .1);
        display: block;
        text-decoration: none;
        font-size: 12px;
        color: inherit;
        text-align: start;
    height: 20px;
    width: 275px;
    background-color: white;
    
    }
    
    .headermian nav ul li a:hover {
        background-color: white;
        color: black;
    }
    
    footer {
        overflow: scroll;
    }
       
    }
    
    @media (max-width: 830px) {
        .card a {

            font-size: 12px;
        
        }
      
        .respons li {
            text-align: center;
            list-style: none;
            padding: 2px;
        }
        .respons li a{
font-size: 12px;
color:#666;
        }
        .frthblock {
            padding-bottom: 2px;
            margin-left: -50px;
        }
        .ac {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
         #notok {
            display: flex;
            justify-content: flex-end;
font-size: 25px;
width:15%;
        }
        #ok { display: flex;
            
            justify-content: flex-start;
            font-size: 25px;
            width: 15%;

        }
        .respons {
            
            width: 100%;
            margin-top: 45px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }
      
        .respons a {
            text-align: center;
            width: 50%;
            text-decoration: none;
            font-size: 15px;
            margin-bottom: 24px;
            font-weight: bolder;
color: #0c0c0c;
        }
        .list , .list2  , .list3 {
            display: none;
            visibility: hidden;
            position: absolute;
        }
        .allblocks {
            display: flex;
            flex-direction: column;
     align-items: center;   
     
        }
        
    .box-search #searchbox {

        width:  76vw;
        height: 42px;
        
        outline: none;
        font-size: 12px;

        font-family: inherit;
        color: #666;
    }

    }


    @media (max-width: 714px) {
    
    
        main .cards .carditem {
            margin: 80px 60px 90px 40px;
            display: grid;
            grid-template-columns:  auto auto;
            grid-column-gap: 50px;
            grid-row-gap: 20px;
            -ms-grid-colums-align: center;
        }
    
    
    
    }
    
    @media (max-width: 600px) {
        .header-top .header-top-left {
            width: 100%;
            background-color: #ff5874;
        }
        
        
.header-top  .header-top-right , .header-contact-container , .store-location h4,
.call-center h4 {
    
display: none;
visibility: hidden;
position: absolute;
    font-size: 12px;
    font-weight: lighter;
}

        
        .box-search #searchbox {
            width:  66vw;
            height: 42px;
            
            outline: none;
            font-size: 12px;
    
            font-family: inherit;
            color: #666;
        }
    
        }
    
        @media (max-width: 480px) {
            
  
            
        main .cards .carditem {
            margin: 80px 60px 90px 40px;
            display: grid;
            grid-template-columns:   auto;
            grid-column-gap: 50px;
            grid-row-gap: 20px;
            -ms-grid-colums-align: center;
        }
         
.header-search .logo{
    width: 20%;
    justify-content: flex-start;
padding-left: 5px;
}

.header-search .logo img {
    width: 170px;
}

.fevrticon {
    justify-content: flex-end;
    width: 80%;
}

            .header-top .header-top-left {
                width: 100%;
                background-color: #ff5874;
            }
            
            
    .header-top  .header-top-right , .header-contact-container , .store-location h4,
    .call-center h4 {
        
    display: none;
    visibility: hidden;
    position: absolute;
        font-size: 12px;
        font-weight: lighter;
    }
    
            
            .box-search #searchbox {
                width:  56vw;
                height: 42px;
                
                outline: none;
                font-size: 12px;
        
                font-family: inherit;
                color: #666;
            }
        
            }
        
    

            @media (max-width: 357px) {
         
                .header-search .logo{
                    width: 5%;
                    justify-content: flex-start;
                padding-left: 5px;
                }
                
                .fevrticon {
                    justify-content: flex-end;
                    width: 95%;
                }
                 .icon {
                    font-size: 15px;
                 }
                .header-search .logo img {
                    width: 90px;
                } 
            }                    




