@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Comfortaa';
}

.headsection {
    position: sticky;


}

.header-top .header-top-right .header-contact-container .store-location,
.call-center h4 {
    font-size: 15px;
    font-family: inherit;
}

.header-top {
    width: 100%;
    display: flex;
}

.header-top i {
    padding-right: 7px;
    font-size: 25px;
}

.header-top .header-top-left {
    width: 50%;
    background-color: #ff5874;
}

.header-top .header-top-left h4 {
    color: #fff;
    padding: 8px 0px 8px 58px;
    font-weight: lighter;
    font-size: 18px;
}

.header-top .header-top-right {
    width: 50%;
    display: flex;
    background-color: white;
}

.header-top .header-top-right .header-contact-container {

    display: flex;
    width: 100%;
}

.header-top .header-top-right .header-contact-container .store-location,
.call-center {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

    color: #1f3767;
    font-weight: 100;
}

.header-top .header-top-right .header-contact-container .store-location h4,
.call-center h4 {

    font-size: 18px;
    font-weight: lighter;
}

.header-search {
    background-color: #063f51;

    display: flex;
    padding: 24px 61px 24px 51px;

}

/* .header-search .logo{

    } */
.header-search .logo img {
    max-width: 169px;

}

.box-search {
    display: flex;
    align-items: center;
    margin-left: 115px;

}

.box-search #searchbox {
    width: 652px;
    height: 42px;
    outline: none;
    font-size: 16px;

    font-family: inherit;
    padding-left: 35px;
    color: #666;
}

.box-search #search-icon {
    background: url(assets/img/search.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0c0c0c;
    background-position: center;
    position: relative;
    left: -45px;
    font-size: 22px;

}

#search-icon::before {
    content: "0000";
    visibility: hidden;
}

.fevrticon {
    display: flex;
    align-items: center;


}

.icon {
    color: white;
    padding-left: 97px;
    font-size: 25px;
}

.icon a {
    margin: 6px;
}

.headermian {
    background-color: white;

    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.headermian nav {
    display: flex;
    height: 50px;
}

.headermian nav ul {
    display: flex;
    align-items: center;
}

.headermian nav ul li {
    list-style: none;
    color: #666;
}

.headermian nav ul li a {
    text-decoration: none;
    font-size: 12px;
    color: inherit;
    padding: 12px;
}

.headermian nav ul li a:hover {
    background-color: #063f51;
    color: white;
}

footer {

    width: 100%;
    height: 100%;
    background-color: #eeeeee;

}

.allblocks {
    display: flex;

}

.firstblock .list {
    padding-left: 76px;
    padding-top: 76px;
}

.firstblock .list h4 {
    color: #444449;
    margin-bottom: 15px;
}

.firstblock .list li {
    margin-top: 13px;

    list-style: none;
}

.firstblock .list li a {
    text-decoration: none;
    color: #a18897;
    font-family: 'Comfortaa';
    font-size: 13px;


}

.secendblock {
    margin-left: 50px;
}

.secendblock .list2 {
    padding-left: 76px;
    padding-top: 76px;
}

.secendblock .list2 h4 {
    color: #444449;
    margin-bottom: 15px;
}

.secendblock .list2 li {
    margin-top: 13px;

    list-style: none;
}

.secendblock .list2 li a {
    text-decoration: none;
    color: #a18897;
    font-family: 'Comfortaa';
    font-size: 13px;


}

.thrdblock {
    margin-left: 50px;
}

.thrdblock .list3 {
    padding-left: 76px;
    padding-top: 76px;
}

.thrdblock .list3 h4 {
    color: #444449;
    margin-bottom: 15px;
}

.thrdblock .list3 li {
    margin-top: 13px;

    list-style: none;
}

.thrdblock .list3 li a {
    text-decoration: none;
    color: #a18897;
    font-family: 'Comfortaa';
    font-size: 13px;


}

.frthblock {
    padding-bottom: 70px;
    margin-left: 50px;
}

.frthblock .soical h4 {
    color: #444449;
    margin-bottom: 15px;
}

.frthblock .soical {
    padding-left: 76px;
    padding-top: 76px;

}

.frthblock .soical li {
    list-style: none;
    float: left;
}

.frthblock .soical li .fa {

    padding: 10px;

    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.frthblock .soical li .fa:hover {
    opacity: 0.7;
}

.frthblock .soical li .fa-facebook,
.fa-pinterest,
.fa-instagram {
    background: #063f51;
    color: white;
}

.frthblock .soical li .fa-facebook:hover,
.fa-pinterest:hover,
.fa-instagram:hover {
    background: white;
    color: #063f51;
    transition: 2s;

}

.frthblock .secre {
    padding-top: 100px;
    padding-left: 80px;
}

.frthblock .logofot {

    padding-top: 20px;
    padding-left: 80px;
}

.footerbotom {
    display: flex;

    padding-bottom: 15px;
    padding-top: 30px;
    padding-left: 75px;

    border-top: 1px solid #e2e2e2;
    background-color: #eeeeee;

}

.footerbotom p {
    font-size: 13px;
    color: #a18897;
}

.allblocks ul li .fa {
    margin-right: 6px;
    font-size: 12px;


}

.secendblock .list2 li span:hover,
.thrdblock .list3 li span:hover,
.firstblock .list li a span:hover {
    color: #063f51;


}

main .cards {
    height: 100%;
    width: 100%;

}

main .cards .carditem {
    margin: 80px 60px 90px 40px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    -ms-grid-colums-align: center;

}

.card a    {
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    box-sizing: border-box;
    color: #444444;
    text-decoration: none;
    font-family: 'Comfortaa';
    display: inline-block;
    padding : 50px 40px 30px 40px ; 
position: relative;
top: -72px;
left: 10%;
}

main .banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .cards1 {
    margin-bottom: 40px;
    margin-top: 30px;
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
}
main .cards1 .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 34px 0px 34px 0px;
    font-size: 25px;
    box-shadow: 0 1.5px 2.5px rgba(0,0,0,.1);
    
}
main .cards1 .carditem1 {

    position: relative;
    right: 50px;
           padding-bottom: 40px;
      padding-top: 19px;
    display: grid;
    grid-template-columns: auto  auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-left: 100px;
 
}

main .cards1 .carditem1 .card1 img  {
    max-width:  250px;
    height: 200px;
}

main .cards1 .carditem1 .card1 {
    display: flex;
    flex-direction: row;
}

main .cards1 .carditem1 .card1 .span {
    margin-top: 20px;
    margin-left: 10px;

    display: flex;
    flex-direction: column;

}

main .cards1 .carditem1 .card1 a {
    display: inline-flex;
    justify-content: center;
    margin-top: 100px;
    text-decoration: none;
    color: #336271;
    font-size: 15px;
    padding: 12px  0px 12px 0px ;
    background-color: white;


}
main .botombaner
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.botombaner img {
    max-width: 430px;
}
main .bluhead 
{
    margin-top: 200px;
    background-image: url(/assets/img/furniture_pattern.png);
     background-color: #053848;
    height: 220px;
    width: 100%;
}
main .bluhead .word{
   padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
main .bluhead p {
    margin-bottom: 20PX;
    font-size: 23px;
    color: white;

}
.subcribe {
    
display: flex;
align-items: center;
justify-content: center;

}
main .bluhead button  {
    background-color:  #053848;
display: flex;
align-items: center;
justify-content: center;
height: 50px;
width: 340px;
border: solid white 4px;

}

main .bluhead button a {
   color: white;
    font-size: 17px;
    text-decoration: none;
}
.cards5 {
    height: 100%;
    width: 100%;
display: flex;
justify-content: center;
align-items: center;

}

 
 .cards5 .carditem5{

    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    grid-row-gap:30px;

}
.card5  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card5 .part51 {
    padding-top: 14px;
    margin-bottom: 14px;
    color: black;
}
.card5 .part53 {
    margin-top: 13px;    
}
.card5 .part53  a{
margin-top: 13px;
    color: darkblue;
    text-decoration: none;
 font-size: 16px;
}





/*    phone csss          */ 










@media (max-width: 575.98px) {
    
.cards5 {
    height: 100%;
    width: 100%;
display: flex;
justify-content: center;
align-items: center;

}

 
 .cards5 .carditem5{

    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap:10px;
    justify-content: center;
    align-items: center;
}
.card5  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card5 img {
    width: 200px;
}
.card5 .part51 {
    font-size: 12px;
    
    padding-top: 14px;
    margin-bottom: 14px;
    color: black;
}
.card5 .part52 p {
font-size: 12px;
width: 200px;
}
.card5 .part53 {
    margin-top: 13px;    
}
.card5 .part53  a{
margin-top: 13px;
    color: darkblue;
    text-decoration: none;
 font-size: 12px;
}


    
.botombaner img {
    max-width: 230px;
}
    
main .botombaner
{
    display: flex;
    align-items: center;
    justify-content: center;
}
    .headsection {
        position: sticky;
    
    
    }
    
    .header-top .header-top-right .header-contact-container .store-location,
    .call-center h4 {
        font-size:15px;
        font-family: inherit;
    }
    
    .header-top {
        width: 100%;
        display: flex;
    }
    
    .header-top i {
        padding-right: 7px;
        font-size: 25px;
    }
    
    .header-top .header-top-left {
        width: 50%;
        background-color: #ff5874;
    }
    
    .header-top .header-top-left h4 {
        color: #fff;
        padding: 1px 2px;
        font-weight: lighter;
        font-size: 12px;
    }
    
    .header-top .header-top-right {
        width: 50%;
        display: flex;
        background-color: white;
    }
    
    .header-top .header-top-right .header-contact-container {
    
        display: flex;
        width: 100%;
    }
    
    .header-top .header-top-right .header-contact-container .store-location,
    .call-center {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    
        color: #1f3767;
        font-weight: 100;
    }
    
    .header-top .header-top-right .header-contact-container .store-location h4,
    .call-center h4 {
    padding: 1px 2x;
        font-size: 12px;
        font-weight: lighter;
    }
    
    .header-search {
        background-color: #063f51;
    
        display: flex;
        padding: 24px 61px 24px 51px;
    
    }
    
    /* .header-search .logo{
    
        } */
    .header-search .logo img {
        width: 100px;
    
    }
    
    .box-search {
        display: flex;
        align-items: center;
        margin-left: 7px;
    
    }
    
    .box-search #searchbox {
        width: 162px;
        height: 22px;
        outline: none;
        font-size: 9px;
    
        font-family: inherit;
        padding-left: 5px;
        color: #666;
    }
    
    .box-search #search-icon {
        background: url(assets/img/search.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #0c0c0c;
        background-position: center;
        position: relative;
        left: -45px;
        font-size: 22px;
    
    }
    
    #search-icon::before {
        content: "0000";
        visibility: hidden;
    }
    
    .fevrticon {
        display: flex;
        align-items: center;
    
    
    }
    
    .icon {
        color: white;
        padding-left: 1px;
        font-size: 15px;
    }
    
    .icon a {
        margin: 3px;
    }
    
    .headermian {
        background-color: white;
    
        box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .headermian nav {
        
        display: flex;
        height: 160px;
    }
    
    .headermian nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .headermian nav ul li {
        list-style: none;
        color: #666;
    }
    
    .headermian nav ul li a {
        text-decoration: none;
        font-size: 12px;
        color: inherit;
        padding: 12px;
    }
    
    .headermian nav ul li a:hover {
        background-color: #063f51;
        color: white;
    }
    
main .cards {
    height: 100%;
    width: 100%;

}

main .cards .carditem {
    margin: 10px;

    display: grid;
    grid-template-columns: auto  auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-colums-align: center;

}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
overflow: scroll
;
}

.card a    {
    background-color: white;
    font-weight: bold;
    font-size: 12px;
    box-sizing: border-box;

    color: #444444;
    text-decoration: none;
    font-family: 'Comfortaa';
    display: inline-block;
    padding : 10px 30px; 

}
.card img {
    max-width: 200px;
}

main .banner {
    display: flex;
    flex-direction: row;
justify-content: center;
overflow: auto;
}
.banner img {
    margin: 0;
    padding: 0;
    width: 150px;
}

main .cards1 {
    margin-bottom: 40px;
    margin-top: 30px;
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
}
main .cards1 .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    box-shadow: 0 1.5px 2.5px rgba(0,0,0,.1);
    
}
main .cards1 .carditem1 {

           padding-bottom: 14px;
      padding-top: 9px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 3px;
    grid-row-gap: 13px;
    justify-content: center;
 
}

main .cards1 .carditem1 .card1 img  {
    max-width: 150px;
    max-height: 100px;
}

main .cards1 .carditem1 .card1 {
    display: flex;
    flex-direction: column;

}

main .cards1 .carditem1 .card1 .span {
    margin-top: 10px;
    margin-left: 10px;
font-size: 12px;
    display: flex;
    flex-direction: column;

}


main .cards1 .carditem1 .card1 a {
    display: inline-flex;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
    color: #336271;
    font-size: 12px;
    padding: 6px ;
    background-color: white;


}




    footer {
width: 100%;
        height: 100%;
        background-color: #eeeeee;
    
    }
    
    .allblocks {
        display: grid;
        grid-template-columns: auto auto;    
    }
    
    .firstblock .list {
        padding-left: 16px;
        padding-top: 16px;
    }
    
    .firstblock .list h4 {
        color: #444449;
        margin-bottom: 5px;
    }
    
    .firstblock .list li {
        margin-top: 3px;
    
        list-style: none;
    }
    
    .firstblock .list li a {
        text-decoration: none;
        color: #a18897;
        font-family: 'Comfortaa';
        font-size: 13px;
    
    
    }
    
    .secendblock {
        margin-left: 0px;
    }
    
    .secendblock .list2 {
        padding-left: 16px;
        padding-top: 16px;
    }
    
    .secendblock .list2 h4 {
        color: #444449;
        margin-bottom: 5px;
    }
    
    .secendblock .list2 li {
        margin-top: 3px;
    
        list-style: none;
    }
    
    .secendblock .list2 li a {
        text-decoration: none;
        color: #a18897;
        font-family: 'Comfortaa';
        font-size: 12px;
    
    
    }
    
    .thrdblock {
        margin-left: 0px;
    }
    
    .thrdblock .list3 {
        padding-left: 16px;
        padding-top: 16px;
    }
    
    .thrdblock .list3 h4 {
        color: #444449;
        margin-bottom: 5px;
    }
    
    .thrdblock .list3 li {
        margin-top: 3px;
    
        list-style: none;
    }
    
    .thrdblock .list3 li a {
        text-decoration: none;
        color: #a18897;
        font-family: 'Comfortaa';
        font-size: 12px;
    
    
    }
    
    .frthblock {
        padding-bottom: 0px;
        margin-left: 0px;
    }
    
    .frthblock .soical h4 {
        color: #444449;
        margin-bottom: 5px;
    }
    
    .frthblock .soical {
        padding-left: 16px;
        padding-top: 16px;
    
    }
    
    .frthblock .soical li {
        list-style: none;
        float: left;
    }
    
    .frthblock .soical li .fa {
    
        padding: 10px;
    
        font-size: 20px;
        width: 25px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
    }
    
    .frthblock .soical li .fa:hover {
        opacity: 0.7;
    }
    
    .frthblock .soical li .fa-facebook,
    .fa-pinterest,
    .fa-instagram {
        background: #063f51;
        color: white;
    }
    
    .frthblock .soical li .fa-facebook:hover,
    .fa-pinterest:hover,
    .fa-instagram:hover {
        background: white;
        color: #063f51;
        transition: 2s;
    
    }
    
    .frthblock .secre {
        padding-top: 10px;
        padding-left: 0px;
    }
    
    .frthblock .logofot {
    
        padding-top: 0px;
        padding-left: 0px;
    }
    
    .footerbotom {
        display: flex;
    
       align-items: center;
       justify-content: center;
        border-top: 1px solid #e2e2e2;
        background-color: #eeeeee;
    
    }
    
    .footerbotom p {
        font-size: 12px;
        color: #a18897;
    }
    
    .allblocks ul li .fa {
        margin-right: 0px;
        font-size: 12px;
    
    
    }
    
    .secendblock .list2 li span:hover,
    .thrdblock .list3 li span:hover,
    .firstblock .list li a span:hover {
        color: #063f51;
    
    
    }
    















    
        }

             


    
@media (max-width: 767.98px) { 
    
.cards5 {
    height: 100%;
    width: 100%;
display: flex;
justify-content: center;
align-items: center;

}

 
 .cards5 .carditem5{

    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap:10px;
    justify-content: center;
    align-items: center;
}
.card5  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
overflow: scroll;
}
.card5 img {
    width: 200px;
}
.card5 .part51 {
    font-size: 12px;
    
    padding-top: 14px;
    margin-bottom: 14px;
    color: black;
}
.card5 .part52 p {
font-size: 12px;
width: 200px;
}
.card5 .part53 {
    margin-top: 13px;    
}
.card5 .part53  a{
margin-top: 13px;
    color: darkblue;
    text-decoration: none;
 font-size: 12px;
}

    
main .cards {
    height: 100%;
    width: 100%;

}

main .cards .carditem {
    margin: 10px;

    display: grid;
    grid-template-columns: auto  auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-colums-align: center;

}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card a    {
    background-color: white;
    font-weight: bold;
    font-size: 12px;
    margin-top: 59px;
    box-sizing: border-box;
    color: #444444;
    text-decoration: none;
    font-family: 'Comfortaa';
    display: inline-block;
    padding : 10px 10px ; 

}
.card img {
    max-width: 200px;
}

main .banner {
    display: flex;
    flex-direction: row;
justify-content: center;
overflow: auto;
}
.banner img {
    margin: 0;
    padding: 0;
    max-width: 150px;
}

main .cards1 {
    margin-bottom: 40px;
    margin-top: 30px;
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
}
main .cards1 .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    box-shadow: 0 1.5px 2.5px rgba(0,0,0,.1);
    
}
main .cards1 .carditem1 {

           padding-bottom: 14px;
      padding-top: 9px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 3px;
    grid-row-gap: 13px;
    justify-content: center;
 
}

main .cards1 .carditem1 .card1 img  {
    max-width: 150px;
    height: 100px;
}

main .cards1 .carditem1 .card1 {
    display: flex;
    flex-direction: column;

}

main .cards1 .carditem1 .card1 .span {
    margin-top: 10px;
    margin-left: 10px;
font-size: 12px;
    display: flex;
    flex-direction: column;

}


main .cards1 .carditem1 .card1 a {
    display: inline-flex;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
    color: #336271;
    font-size: 12px;
    padding: 6px ;
    background-color: white;


}

   .headsection {
    position: sticky;


}

.header-top .header-top-right .header-contact-container .store-location,
.call-center h4 {
    font-size:15px;
    font-family: inherit;
}

.header-top {
    
width: 100%;
    display: flex;
}

.header-top i {
    padding-right: 7px;
    font-size: 25px;
}

.header-top .header-top-left {
    width: 50%;
    background-color: #ff5874;
}

.header-top .header-top-left h4 {
    color: #fff;
    padding: 1px 2px;
    font-weight: lighter;
    font-size: 12px;
}

.header-top .header-top-right {
    width: 50%;
    display: flex;
    background-color: white;
}

.header-top .header-top-right .header-contact-container {

    display: flex;
    width: 100%;
}

.header-top .header-top-right .header-contact-container .store-location,
.call-center {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

    color: #1f3767;
    font-weight: 100;
}

.header-top .header-top-right .header-contact-container .store-location h4,
.call-center h4 {
padding: 1px 2x;
    font-size: 12px;
    font-weight: lighter;
}

.header-search {
    background-color: #063f51;

    display: flex;
    padding: 24px 61px 24px 51px;

}

/* .header-search .logo{

    } */
.header-search .logo img {
    max-width: 100px;

}

.box-search {
    display: flex;
    align-items: center;
    margin-left: 7px;

}

.box-search #searchbox {
    width: 162px;
    height: 22px;
    outline: none;
    font-size: 9px;

    font-family: inherit;
    padding-left: 5px;
    color: #666;
}

.box-search #search-icon {
    background: url(assets/img/search.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0c0c0c;
    background-position: center;
    position: relative;
    left: -45px;
    font-size: 22px;

}

#search-icon::before {
    content: "0000";
    visibility: hidden;
}

.fevrticon {
    display: flex;
    align-items: center;


}

.icon {
    color: white;
    padding-left: 1px;
    font-size: 15px;
}

.icon a {
    margin: 3px;
}

.headermian {
    background-color: white;

    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.headermian nav {
    
    display: flex;
    height: 160px;
}

.headermian nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headermian nav ul li {
    list-style: none;
    color: #666;
}

.headermian nav ul li a {
    text-decoration: none;
    font-size: 12px;
    color: inherit;
    padding: 12px;
}

.headermian nav ul li a:hover {
    background-color: #063f51;
    color: white;
}



footer {
width: 100%;
    height: 100%;
    background-color: #eeeeee;

}

.allblocks {
    display: grid;
    grid-template-columns: auto auto;    
}

.firstblock .list {
    padding-left: 16px;
    padding-top: 16px;
}

.firstblock .list h4 {
    color: #444449;
    margin-bottom: 5px;
}

.firstblock .list li {
    margin-top: 3px;

    list-style: none;
}

.firstblock .list li a {
    text-decoration: none;
    color: #a18897;
    font-family: 'Comfortaa';
    font-size: 13px;


}

.secendblock {
    margin-left: 0px;
}

.secendblock .list2 {
    padding-left: 16px;
    padding-top: 16px;
}

.secendblock .list2 h4 {
    color: #444449;
    margin-bottom: 5px;
}

.secendblock .list2 li {
    margin-top: 3px;

    list-style: none;
}

.secendblock .list2 li a {
    text-decoration: none;
    color: #a18897;
    font-family: 'Comfortaa';
    font-size: 12px;


}

.thrdblock {
    margin-left: 0px;
}

.thrdblock .list3 {
    padding-left: 16px;
    padding-top: 16px;
}

.thrdblock .list3 h4 {
    color: #444449;
    margin-bottom: 5px;
}

.thrdblock .list3 li {
    margin-top: 3px;

    list-style: none;
}

.thrdblock .list3 li a {
    text-decoration: none;
    color: #a18897;
    font-family: 'Comfortaa';
    font-size: 12px;


}

.frthblock {
    padding-bottom: 0px;
    margin-left: 0px;
}

.frthblock .soical h4 {
    color: #444449;
    margin-bottom: 5px;
}

.frthblock .soical {
    padding-left: 16px;
    padding-top: 16px;

}

.frthblock .soical li {
    list-style: none;
    float: left;
}

.frthblock .soical li .fa {

    padding: 10px;

    font-size: 20px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.frthblock .soical li .fa:hover {
    opacity: 0.7;
}

.frthblock .soical li .fa-facebook,
.fa-pinterest,
.fa-instagram {
    background: #063f51;
    color: white;
}

.frthblock .soical li .fa-facebook:hover,
.fa-pinterest:hover,
.fa-instagram:hover {
    background: white;
    color: #063f51;
    transition: 2s;

}

.frthblock .secre {
    padding-top: 10px;
    padding-left: 0px;
}

.frthblock .logofot {

    padding-top: 0px;
    padding-left: 0px;
}

.footerbotom {
    display: flex;

   align-items: center;
   justify-content: center;
    border-top: 1px solid #e2e2e2;
    background-color: #eeeeee;

}

.footerbotom p {
    font-size: 12px;
    color: #a18897;
}

.allblocks ul li .fa {
    margin-right: 0px;
    font-size: 12px;


}

.secendblock .list2 li span:hover,
.thrdblock .list3 li span:hover,
.firstblock .list li a span:hover {
    color: #063f51;


}




















    }
         


@media (max-width: 991.98px) {
    
.cards5 {
    height: 100%;
    width: 100%;
display: flex;
justify-content: center;
align-items: center;

}

 
 .cards5 .carditem5{

    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap:10px;
    justify-content: center;
    align-items: center;
}
.card5  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card5 img {
    width: 200px;
}
.card5 .part51 {
    font-size: 12px;
    
    padding-top: 14px;
    margin-bottom: 14px;
    color: black;
}
.card5 .part52 p {
font-size: 12px;
width: 200px;
}
.card5 .part53 {
    margin-top: 13px;    
}
.card5 .part53  a{
margin-top: 13px;
    color: darkblue;
    text-decoration: none;
 font-size: 12px;
}

    
main .cards {
    height: 100%;
    width: 100%;

}

main .cards .carditem {
    margin: 10px;

    display: grid;
    grid-template-columns: auto  auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    -ms-grid-colums-align: center;

}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card a    {
    background-color: white;
    font-weight: bold;
    font-size: 12px;
    margin-top: 59px;
    box-sizing: border-box;
    color: #444444;
    text-decoration: none;
    font-family: 'Comfortaa';
    display: inline-block;
    padding : 10px 10px ; 

}
.card img {
    max-width: 200px;
}

main .banner {
    display: flex;
    flex-direction: row;
justify-content: center;
overflow: auto;
}
.banner img {
    margin: 0;
    padding: 0;
    max-width: 250px;
}

main .cards1 {
    margin-bottom: 40px;
    margin-top: 30px;
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
}
main .cards1 .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    box-shadow: 0 1.5px 2.5px rgba(0,0,0,.1);
    
}
main .cards1 .carditem1 {

           padding-bottom: 14px;
      padding-top: 9px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 3px;
    grid-row-gap: 13px;
    justify-content: center;
 
}

main .cards1 .carditem1 .card1 img  {
    max-width: 150px;
    height: 100px;
}

main .cards1 .carditem1 .card1 {
    display: flex;
    flex-direction: column;

}

main .cards1 .carditem1 .card1 .span {
    margin-top: 10px;
    margin-left: 10px;
font-size: 12px;
    display: flex;
    flex-direction: column;

}


main .cards1 .carditem1 .card1 a {
    display: inline-flex;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
    color: #336271;
    font-size: 12px;
    padding: 6px ;
    background-color: white;


}

    .headsection {
        position: sticky;
    
    
    }
    
    .header-top .header-top-right .header-contact-container .store-location,
    .call-center h4 {
        font-size:15px;
        font-family: inherit;
    }
    
    .header-top {
        width: 100%;
        display: flex;
    }
    
    .header-top i {
        padding-right: 7px;
        font-size:  25px;
    }
    
    .header-top .header-top-left {
        width: 50%;
        background-color: #ff5874;
    }
    
    .header-top .header-top-left h4 {
        color: #fff;
        padding: 1px 2px;
        font-weight: lighter;
        font-size: 12px;
    }
    
    .header-top .header-top-right {
     width: 50%;
        display: flex;
        background-color: white;
    }
    
    .header-top .header-top-right .header-contact-container {
    
        display: flex;
        width: 100%;
    }
    
    .header-top .header-top-right .header-contact-container .store-location,
    .call-center {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    
        color: #1f3767;
        font-weight: 100;
    }
    
    .header-top .header-top-right .header-contact-container .store-location h4,
    .call-center h4 {
    padding: 1px 2x;
        font-size: 12px;
        font-weight: lighter;
    }
    
    .header-search {
        background-color: #063f51;
    
        display: flex;
 justify-content: center;   
    }
    
    /* .header-search .logo{
    
        } */
    .header-search .logo img {
        max-width: 100px;
    
    }
    
    .box-search {
        display: flex;
        align-items: center;
        margin-left: 7px;
    
    }
    
    .box-search #searchbox {
        width: 162px;
        height: 22px;
        outline: none;
        font-size: 9px;
    
        font-family: inherit;
        padding-left: 5px;
        color: #666;
    }
    
    .box-search #search-icon {
        background: url(assets/img/search.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #0c0c0c;
        background-position: center;
        position: relative;
        left: -45px;
        font-size: 22px;
    
    }
    
    #search-icon::before {
        content: "0000";
        visibility: hidden;
    }
    
    .fevrticon {
        display: flex;
        align-items: center;
    
    
    }
    
    .icon {
        color: white;
        padding-left: 1px;
        font-size: 15px;
    }
    
    .icon a {
        margin: 3px;
    }
    
    .headermian {
        background-color: white;
    
        box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .headermian nav {
        
        display: flex;
        height: 160px;
    }
    
    .headermian nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .headermian nav ul li {
        list-style: none;
        color: #666;
    }
    
    .headermian nav ul li a {
        text-decoration: none;
        font-size: 12px;
        color: inherit;
        padding: 12px;
    }
    
    .headermian nav ul li a:hover {
        background-color: #063f51;
        color: white;
    }





    footer {
        
width: 100%;

        height: 100%;
        background-color: #eeeeee;
    
    }
    
    .allblocks {
        display: grid;
        grid-template-columns: auto auto;    
    }
    
    .firstblock .list {
        padding-left: 16px;
        padding-top: 16px;
    }
    
    .firstblock .list h4 {
        color: #444449;
        margin-bottom: 5px;
    }
    
    .firstblock .list li {
        margin-top: 3px;
    
        list-style: none;
    }
    
    .firstblock .list li a {
        text-decoration: none;
        color: #a18897;
        font-family: 'Comfortaa';
        font-size: 13px;
    
    
    }
    
    .secendblock {
        margin-left: 0px;
    }
    
    .secendblock .list2 {
        padding-left: 16px;
        padding-top: 16px;
    }
    
    .secendblock .list2 h4 {
        color: #444449;
        margin-bottom: 5px;
    }
    
    .secendblock .list2 li {
        margin-top: 3px;
    
        list-style: none;
    }
    
    .secendblock .list2 li a {
        text-decoration: none;
        color: #a18897;
        font-family: 'Comfortaa';
        font-size: 12px;
    
    
    }
    
    .thrdblock {
        margin-left: 0px;
    }
    
    .thrdblock .list3 {
        padding-left: 16px;
        padding-top: 16px;
    }
    
    .thrdblock .list3 h4 {
        color: #444449;
        margin-bottom: 5px;
    }
    
    .thrdblock .list3 li {
        margin-top: 3px;
    
        list-style: none;
    }
    
    .thrdblock .list3 li a {
        text-decoration: none;
        color: #a18897;
        font-family: 'Comfortaa';
        font-size: 12px;
    
    
    }
    
    .frthblock {
        padding-bottom: 0px;
        margin-left: 0px;
    }
    
    .frthblock .soical h4 {
        color: #444449;
        margin-bottom: 5px;
    }
    
    .frthblock .soical {
        padding-left: 16px;
        padding-top: 16px;
    
    }
    
    .frthblock .soical li {
        list-style: none;
        float: left;
    }
    
    .frthblock .soical li .fa {
    
        padding: 10px;
    
        font-size: 20px;
        width: 25px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
    }
    
    .frthblock .soical li .fa:hover {
        opacity: 0.7;
    }
    
    .frthblock .soical li .fa-facebook,
    .fa-pinterest,
    .fa-instagram {
        background: #063f51;
        color: white;
    }
    
    .frthblock .soical li .fa-facebook:hover,
    .fa-pinterest:hover,
    .fa-instagram:hover {
        background: white;
        color: #063f51;
        transition: 2s;
    
    }
    
    .frthblock .secre {
        padding-top: 10px;
        padding-left: 0px;
    }
    
    .frthblock .logofot {
    
        padding-top: 0px;
        padding-left: 0px;
    }
    
    .footerbotom {
        display: flex;
    
       align-items: center;
       justify-content: center;
        border-top: 1px solid #e2e2e2;
        background-color: #eeeeee;
    
    }
    
    .footerbotom p {
        font-size: 12px;
        color: #a18897;
    }
    
    .allblocks ul li .fa {
        margin-right: 0px;
        font-size: 12px;
    
    
    }
    
    .secendblock .list2 li span:hover,
    .thrdblock .list3 li span:hover,
    .firstblock .list li a span:hover {
        color: #063f51;
    
    
    }
    




















    
        }
             
    




   


@media (max-width: 1199.98px) {
    
.cards5 {
    height: 100%;
    width: 100%;
display: flex;
justify-content: center;
align-items: center;

}

 
 .cards5 .carditem5{

    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap:10px;
    justify-content: center;
    align-items: center;
}
.card5  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card5 img {
    width: 250px;
}
.card5 .part51 {
    font-size: 12px;
    
    padding-top: 14px;
    margin-bottom: 14px;
    color: black;
}
.card5 .part52 p {
font-size: 12px;
width: 200px;
}
.card5 .part53 {
    margin-top: 13px;    
}
.card5 .part53  a{
margin-top: 13px;
    color: darkblue;
    text-decoration: none;
 font-size: 12px;
}

    
main .cards {
    height: 100%;
    width: 100%;

}

main .cards .carditem {
    margin: 10px;

    display: grid;
    grid-template-columns: auto  auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    -ms-grid-colums-align: center;

}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card a    {
    background-color: white;
    font-weight: bold;
    font-size: 12px;
    margin-top: 59px;
    box-sizing: border-box;
    color: #444444;
    text-decoration: none;
    font-family: 'Comfortaa';
    display: inline-block;
    padding : 10px 10px ; 

}
.card img {
    max-width: 200px;
}

main .banner {
    display: flex;
    flex-direction: row;
justify-content: center;
overflow: auto;
}
.banner img {
    margin: 0;
    padding: 0;
    max-width: 250px;
}

main .cards1 {
    margin-bottom: 40px;
    margin-top: 30px;
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
}
main .cards1 .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    box-shadow: 0 1.5px 2.5px rgba(0,0,0,.1);
    
}
main .cards1 .carditem1 {

           padding-bottom: 14px;
      padding-top: 9px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 3px;
    grid-row-gap: 13px;
    justify-content: center;
 
}

main .cards1 .carditem1 .card1 img  {
    max-width: 150px;
    height: 100px;
}

main .cards1 .carditem1 .card1 {
    display: flex;
    flex-direction: column;

}

main .cards1 .carditem1 .card1 .span {
    margin-top: 10px;
    margin-left: 10px;
font-size: 12px;
    display: flex;
    flex-direction: column;

}


main .cards1 .carditem1 .card1 a {
    display: inline-flex;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
    color: #336271;
    font-size: 12px;
    padding: 6px ;
    background-color: white;


}

    .headsection {
        position: sticky;
    
    
    }
    
    .header-top .header-top-right .header-contact-container .store-location,
    .call-center h4 {
        font-size:15px;
        font-family: inherit;
    }
    
    .header-top {
        width: 100%;
        display: flex;
    }
    
    .header-top i {
        padding-right: 7px;
        font-size: 25px;
    }
    
    .header-top .header-top-left {
        width: 50%;
        background-color: #ff5874;
    }
    
    .header-top .header-top-left h4 {
        color: #fff;
        padding: 1px 2px;
        font-weight: lighter;
        font-size: 12px;
    }
    
    .header-top .header-top-right {
        width: 50%;
        display: flex;
        background-color: white;
    }
    
    .header-top .header-top-right .header-contact-container {
    
        display: flex;
        width: 100%;
    }
    
    .header-top .header-top-right .header-contact-container .store-location,
    .call-center {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    
        color: #1f3767;
        font-weight: 100;
    }
    
    .header-top .header-top-right .header-contact-container .store-location h4,
    .call-center h4 {
    padding: 1px 2x;
        font-size: 12px;
        font-weight: lighter;
    }
    
    .header-search {
        background-color: #063f51;
               justify-content: center;    
        display: flex;
    
    }
    
    /* .header-search .logo{
    
        } */
    .header-search .logo img {
        max-width: 100px;
    
    }
    
    .box-search {
        display: flex;
        align-items: center; 
    
    }
    
    .box-search #searchbox {
        width: 162px;
        height: 32px;
        outline: none;
        font-size: 12px;
    
        font-family: inherit;
        padding-left: 8px;
        color: #666;
    }
    
    .box-search #search-icon {
        background: url(assets/img/search.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #0c0c0c;
        background-position: center;
        position: relative;
        left: -45px;
        font-size: 22px;
    
    }
    
    #search-icon::before {
        content: "0000";
        visibility: hidden;
    }
    
    .fevrticon {
        display: flex;
        align-items: center;
    
    
    }
    
    .icon {
        color: white;
        padding-left: 1px;
        font-size: 15px;
    }
    
    .icon a {
        margin: 3px;
    }
    
    .headermian {
        background-color: white;
    
        box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .headermian nav {
        
        display: flex;
        height: 100%;
    }
    
    .headermian nav ul {
        display: flex;
        align-items: center;
    }
    
    .headermian nav ul li {
        list-style: none;
        color: #666;
    }
    
    .headermian nav ul li a {
        text-decoration: none;
        font-size: 11px;
        color: inherit;
        padding: 12px;
    }
    
    .headermian nav ul li a:hover {
        background-color: #063f51;
        color: white;
    }
    

    footer {
        
width: 100%;

        height: 100%;
        background-color: #eeeeee;
    
    }
    
    .allblocks {
        display: grid;
        grid-template-columns: auto auto;    
    }
    
    .firstblock .list {
        padding-left: 16px;
        padding-top: 16px;
    }
    
    .firstblock .list h4 {
        color: #444449;
        margin-bottom: 5px;
    }
    
    .firstblock .list li {
        margin-top: 3px;
    
        list-style: none;
    }
    
    .firstblock .list li a {
        text-decoration: none;
        color: #a18897;
        font-family: 'Comfortaa';
        font-size: 13px;
    
    
    }
    
    .secendblock {
        margin-left: 0px;
    }
    
    .secendblock .list2 {
        padding-left: 16px;
        padding-top: 16px;
    }
    
    .secendblock .list2 h4 {
        color: #444449;
        margin-bottom: 5px;
    }
    
    .secendblock .list2 li {
        margin-top: 3px;
    
        list-style: none;
    }
    
    .secendblock .list2 li a {
        text-decoration: none;
        color: #a18897;
        font-family: 'Comfortaa';
        font-size: 12px;
    
    
    }
    
    .thrdblock {
        margin-left: 0px;
    }
    
    .thrdblock .list3 {
        padding-left: 16px;
        padding-top: 16px;
    }
    
    .thrdblock .list3 h4 {
        color: #444449;
        margin-bottom: 5px;
    }
    
    .thrdblock .list3 li {
        margin-top: 3px;
    
        list-style: none;
    }
    
    .thrdblock .list3 li a {
        text-decoration: none;
        color: #a18897;
        font-family: 'Comfortaa';
        font-size: 12px;
    
    
    }
    
    .frthblock {
        padding-bottom: 0px;
        margin-left: 0px;
    }
    
    .frthblock .soical h4 {
        color: #444449;
        margin-bottom: 5px;
    }
    
    .frthblock .soical {
        padding-left: 16px;
        padding-top: 16px;
    
    }
    
    .frthblock .soical li {
        list-style: none;
        float: left;
    }
    
    .frthblock .soical li .fa {
    
        padding: 10px;
    
        font-size: 20px;
        width: 25px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
    }
    
    .frthblock .soical li .fa:hover {
        opacity: 0.7;
    }
    
    .frthblock .soical li .fa-facebook,
    .fa-pinterest,
    .fa-instagram {
        background: #063f51;
        color: white;
    }
    
    .frthblock .soical li .fa-facebook:hover,
    .fa-pinterest:hover,
    .fa-instagram:hover {
        background: white;
        color: #063f51;
        transition: 2s;
    
    }
    
    .frthblock .secre {
        padding-top: 10px;
        padding-left: 0px;
    }
    
    .frthblock .logofot {
    
        padding-top: 0px;
        padding-left: 0px;
    }
    
    .footerbotom {
        display: flex;
    
       align-items: center;
       justify-content: center;
        border-top: 1px solid #e2e2e2;
        background-color: #eeeeee;
    
    }
    
    .footerbotom p {
        font-size: 12px;
        color: #a18897;
    }
    
    .allblocks ul li .fa {
        margin-right: 0px;
        font-size: 12px;
    
    
    }
    
    .secendblock .list2 li span:hover,
    .thrdblock .list3 li span:hover,
    .firstblock .list li a span:hover {
        color: #063f51;
    
    
    }
    









    
    
        }
             


    
